html,
body,
body > div:first-child,
div#__next,
div#__next > div {
    height: 100%;
}

::selection {
    background: #9ae6b4;
}

/* div#__next > div {
    display: flex;
    flex-direction: column;
    min-height: 100%;
} */

/* div#__next > div {
    min-height: 100%;
    display: grid;
    grid-template-rows: 1fr auto;
} */

.border-3 { border-width: 3px; }

.ant-upload .anticon.anticon-plus svg {
    margin: 0 auto;
}

#content a {
  color: #4299e1;
}

.patreon-icon-sns {
    background-color: #f96854;
    padding: 8px;
}

.twitter-icon-sns {
    background-color: #1DA1F2;
    padding: 8px;
}

.producthunt-icon-sns {
    background-color: #DA552F;
    padding: 8px;
}

.github-icon-sns {
    background-color: #000000;
    padding: 8px;
}