// Import Bulma's core
@import "~bulma/sass/utilities/_all";

$navbar-height: 4rem;
$card-shadow: none;
// $body-background-color: #ecf0f1;
// $body-background-color: #f9f9f9;
$input-shadow: none;

// Import Bulma and Buefy styles
@import "~bulma";
@import "~buefy/src/scss/buefy";