@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@300;400;700&display=swap');
$borderRadius: 4px;
$fontFamily: 'Roboto', Helvetica, Arial, sans-serif;
$thinBorder: 1px solid #e8e0e0 !important;

body {
    font-family: $fontFamily !important;
}

.bg-white {
    background-color: #ffffff;
}

.flex-container {
    display: flex;
}

.flex-center {
    align-items: center;
}
.flex-justify-center {
    justify-content: center;
}

.pd-15rem {
    padding: 1.5rem;
}

img.is-rounded {
    border-radius: 50%;
}

.radius-box {
    border-radius: $borderRadius;
}

.sp-font {
    font-family: $fontFamily !important;
}

.weight-900 {
    font-weight: 900 !important;
}

.weight-800 {
    font-weight: 800 !important;
}

.weight-700 {
    font-weight: 700 !important;
}

.color-white {
    color: #ffffff;
    &:hover {
        color: #ffffff;
    }
}

.twitter {
    border-color: #00aced;
    background-color: #00aced;
    &:hover {
        border-color: #00aced;
    }
}

.facebook {
    color: #ffffff;
    border-color: #3C5A99;
    background-color: #3C5A99;
    &:hover {
        color: #ffffff;
        border-color: #3C5A99;
    }
}

.google {
    color: #363636;
    background-color: #ffffff;
    &:hover {
        color: #363636;
    }
}